@keyframes apparitionMenus {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.starters {
  &__entrée1 {
    animation: apparitionMenus 2s ease-in-out 0.1s;
  }
  &__entrée2 {
    animation: apparitionMenus 2s ease-in-out 0.2s;
  }
  &__entrée3 {
    animation: apparitionMenus 2s ease-in-out 0.3s;
  }
  &__entrée4 {
    animation: apparitionMenus 2s ease-in-out 0.4s;
  }
  & > span {
    animation: apparitionMenus 2s ease-in-out 0.1s;
  }
}

.dishes {
  &__plat1 {
    animation: apparitionMenus 2s ease-in-out 0.5s;
  }
  &__plat2 {
    animation: apparitionMenus 2s ease-in-out 0.6s;
  }
  &__plat3 {
    animation: apparitionMenus 2s ease-in-out 0.7s;
  }
  & > span {
    animation: apparitionMenus 2s ease-in-out 0.5s;
  }
}

.desserts {
  &__1 {
    animation: apparitionMenus 2s ease-in-out 0.8s;
  }
  &__2 {
    animation: apparitionMenus 2s ease-in-out 0.9s;
  }
  &__3 {
    animation: apparitionMenus 2s ease-in-out 1s;
  }
  & > span {
    animation: apparitionMenus 2s ease-in-out 0.8s;
  }
}
