@keyframes apparitionMenus {
  from {
    transform: translateY(-10);
  }

  to {
    transform: translateY(0);
  }
}

.starters {
  &__entrée1 {
    animation: apparitionMenus 1s ease-in-out 0.5s;
  }
  &__entrée2 {
    animation: apparitionMenus 1s ease-in-out 1s;
  }
  &__entrée3 {
    animation: apparitionMenus 1s ease-in-out 1.5s;
  }
  &__entrée4 {
    animation: apparitionMenus 1s ease-in-out 2s;
  }
}

.dishes {
  &__plat1 {
    animation: apparitionMenus 1s ease-in-out 0.5s;
  }
  &__plat2 {
    animation: apparitionMenus 1s ease-in-out 1s;
  }
  &__plat3 {
    animation: apparitionMenus 1s ease-in-out 1.5s;
  }
}

.desserts {
  &__1 {
    animation: apparitionMenus 1s ease-in-out 0.5s;
  }
  &__2 {
    animation: apparitionMenus 1s ease-in-out 1s;
  }
  &__3 {
    animation: apparitionMenus 1s ease-in-out 1.5s;
  }
}
