@font-face {
  font-family: "RobotoMed";
  src: url("./fonts/Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoReg";
  src: url("./fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Shrikhand";
  src: url("./fonts/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

#principal_page {
  width: 1380px;
  margin: auto;
  font-family: "RobotoReg", Arial, sans-serif;
  @media screen and (max-width: 768px) {
    width: auto;
  }
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}
