/* Error: Undefined mixin.
 *    ,
 * 26 | /   @include mobile {
 * 27 | |     display: grid;
 * 28 | |     grid-template-columns: 1fr;
 * 29 | \   }
 *    '
 *   sass\2-base\_fonts.scss 26:3  @import
 *   sass\main.scss 8:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 26 \2502  \250c    @include mobile {\a 27 \2502  \2502      display: grid;\a 28 \2502  \2502      grid-template-columns: 1fr;\a 29 \2502  \2514    }\a    \2575 \a   sass\\2-base\\_fonts.scss 26:3  @import\a   sass\\main.scss 8:9            root stylesheet";
}
