.presentation {
  &__btn {
    cursor: pointer;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-secondary;
    padding: 15px 25px;
    border-radius: 1.8rem;
    margin-bottom: 4rem;
  }
}
