footer {
  background-color: $color-footer;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  & img {
    width: 10%;
    margin-left: 2.4rem;
  }
  & li {
    list-style: none;
    margin-bottom: 10px;
    & .li__utensils-icon {
      margin-right: 12px;
    }
    & .li__hands-icon {
      display: inline-block;
      margin-right: 8.5px;
      font-size: 0.8rem;
      transform: rotate(-17deg);
    }
  }
}
