@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

#menus-headers {
  @media screen and (max-width: 599px) {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
  }
  & > img {
    @media screen and (max-width: 599px) {
      display: inline-block;
      position: relative;
      height: 1.75rem;
      left: -40px;
    }
  }
}

.arrow-left {
  @media screen and (max-width: 599px) {
    font-size: 1.2rem;
    margin-top: 3px;
    margin-left: -25px;
    margin-right: 0px;
  }
}

.photo-menu {
  @media screen and (max-width: 599px) {
    height: 300px;
    margin-top: 1rem;
  }
  & > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.menu {
  background-color: $color-containers;
  border-radius: 1.8rem 1.8rem 0 0;
  position: relative;
  top: -4rem;
  padding-left: 15px;
  padding-right: 15px;
  & h1 {
    font-family: "Shrikhand", Arial;
    font-size: 1.6rem;
    display: inline-block;
    margin-top: 30px;
  }
  & span {
    font-size: 1.2rem;
    position: relative;
    right: -2.2rem;
  }
}
