@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

#principal_page2 {
  width: 1380px;
  margin: auto;
  @media screen and (max-width: 1024px) {
    width: auto;
  }
}

#menus-headers {
  display: flex;
  justify-content: space-around;
  padding: 25px 0px 20px 0px;
  & > img {
    display: inline-block;
    position: absolute;
    align-self: center;
    height: 1.8rem;
    @media screen and (min-width: 767px) {
      height: 2rem;
    }
  }
}

.arrow-left {
  position: absolute;
  display: inline-block;
  font-size: 1.2rem;
  margin-left: -140px;
  margin-top: -12px;
  @media screen and (min-width: 400px) and (max-width: 415px) {
    margin-left: -155px;
  }
  @media screen and (min-width: 420px) and (max-width: 599px) {
    margin-left: -210px;
  }
  @media screen and (min-width: 600px) and (max-width: 768px) {
    margin-left: -315px;
    margin-top: -14px;
    font-size: 1.4rem;
  }
  @media screen and (min-width: 800px) and (max-width: 1023px) {
    margin-left: -350px;
    margin-top: -14px;
    font-size: 1.4rem;
  }
  @media screen and (min-width: 1024px) and (max-width: 1030px) {
    margin-left: -435px;
    margin-top: -14px;
    font-size: 1.4rem;
  }
  @media screen and (min-width: 1035px) {
    margin-left: -615px;
    margin-top: -14px;
    font-size: 1.4rem;
  }
}
