@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.photo-menu {
  height: 500px;
  @media screen and (max-width: 599px) {
    height: 300px;
  }
  & > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.check {
  position: absolute;
  top: 1.6rem;
  left: 19rem;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  padding: 2.5px;
  opacity: 0;
  color: $color-tertiary;
  background-color: white;
  transform: translateX(0px);
  //transform: rotate(0deg);
}

.txtForCheck:hover + .check {
  animation: check 0.7s ease-in-out both;
}

@keyframes check {
  0% {
    transform: translateX(0);
  }
  15% {
    opacity: 1;
    transform: translateX(22px);
  }
  20% {
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.menu {
  @media screen and (min-width: 1024px) {
    padding-left: 55px;
    padding-right: 55px;
  }
  background-color: $color-containers;
  border-radius: 1.8rem 1.8rem 0 0;
  position: relative;
  top: -3.7rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 35px;
  & div {
    margin-bottom: 2.5rem;
  }
  & h2 {
    margin-bottom: 1rem;
  }
  & .starters {
    margin-top: -3.5rem;
  }
  & h1 {
    font-family: "Shrikhand", Arial;
    font-size: 1.6rem;
    display: inline-block;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 0px;
  }
  & > .menu__titreIco {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > span {
      font-size: 1.4rem;
      margin-top: 37.5px;
      margin-right: 25px;
    }
  }
  & .icon-menus svg * {
    cursor: pointer;
    fill: transparent;
    stroke-width: 30;
    stroke: black;
    &:hover {
      animation: hov 1.5s ease-in-out 0.5s both;
    }
  }
  & .starters {
    & div {
      @include text-price-position;
      position: relative;
      z-index: 1;
      @include menuChoice;
      & > p {
        //background-color: darkgoldenrod;
        display: inline-block;
        position: absolute;
        height: 50%;
        width: 95%;
        bottom: -17px;
        padding-top: 35px;
      }
    }
    & > .price1 {
      display: inline-block;
      position: absolute;
      padding-top: 5px;
      text-align: center;
      right: 2.5rem;
      top: 11.2rem;
      z-index: 1;
      opacity: 1;
      font-family: "Roboto";
      font-weight: bold;
      font-size: 0.85rem;
      transform: translateX(0px);
      transition: transform 200ms ease-in-out;
      // background-color: red;
    }
    &__entrée:hover + .price1 {
      transform: translateX(-55px);
    }
    & > .price2 {
      display: inline-block;
      position: absolute;
      padding-top: 5px;
      text-align: center;
      right: 2.5rem;
      top: 16.6rem;
      z-index: 1;
      opacity: 1;
      font-family: "Roboto";
      font-weight: bold;
      font-size: 0.85rem;
      transform: translateX(0px);
      transition: transform 200ms ease-in-out;
      // background-color: red;
    }
    &__entrée:hover + .price2 {
      transform: translateX(-55px);
    }
    &--palette > h2 {
      //background-color: red;
      margin-top: 5px;
      padding-bottom: 35px;
      padding-top: 8px;
    }
    /*pour le prix du 4ème plat du menu 'la note enchantée'*/
    & .em4--2 {
      top: 2.3rem;
    }
    & > p {
      @include border-bottom;
    }
  }

  & .dishes {
    & div {
      @include text-price-position;
      position: relative;
      z-index: 1;
      @include menuChoice;
    }
    & .dishes__plat1 {
      /*conteneur du 1er plat des menus 'la Palette du gout' et 'le délices des sens'*/
      height: inherit;
      height: 80px;
      & h2 {
        width: 60%;
        margin-bottom: 0.9rem;
      }
    }
    //pour le prix du 1er plat du menu 'le délice des sens'
    & .em1--4 {
      top: 3.5rem;
    }
    /*texte 'accommpagné de sa ribambelle...' : laPaletteDugout*/
    & .txtLaPallDish1 {
      width: 75%;
    }
    //pour le prix du 1er plat du menu 'laPaletteDugout'
    & .em1--1 {
      top: 3.55rem;
    }
    & .dishes--plat1 {
      height: 66.15px;
    }
    & > p {
      @include border-bottom;
    }
  }

  & .desserts {
    & div {
      @include text-price-position;
      position: relative;
      z-index: 1;
      @include menuChoice;
    }
    & > p {
      @include border-bottom;
    }
  }
}

#menus-headers a {
  color: black;
}

footer {
  margin-top: -3.7rem;
  font-family: "Roboto";
}
