@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

#principal_page2 {
  width: 1380px;
  margin: auto;
  @media screen and (max-width: 768px) {
    width: auto;
  }
}

#menus-headers {
  padding-top: 10px;
  @media screen and (max-width: 599px) {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
  }
  & > img {
    @media screen and (max-width: 599px) {
      display: inline-block;
      position: relative;
      height: 1.75rem;
      left: -40px;
    }
  }
}

.arrow-left {
  font-size: 1.5rem;
  margin-left: -525px;
  color: black;
  @media screen and (max-width: 599px) {
    font-size: 1.2rem;
    margin-top: 3px;
    margin-left: -25px;
    margin-right: 0px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    font-size: 1.3rem;
    margin-top: 3px;
    margin-left: -210px;
    margin-right: 0px;
  }
}
