@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.photo-menu {
  height: 500px;
  margin-top: 1rem;
  @media screen and (max-width: 599px) {
    height: 300px;
    margin-top: 1rem;
  }
  & > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.menu {
  @media screen and (min-width: 1024px) {
    padding-left: 55px;
    padding-right: 55px;
  }
  background-color: $color-containers;
  border-radius: 1.8rem 1.8rem 0 0;
  position: relative;
  top: -3.7rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 35px;
  & div {
    margin-bottom: 2.5rem;
  }
  & h1 {
    font-family: "Shrikhand", Arial;
    font-size: 1.6rem;
    display: inline-block;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 0px;
  }
  & > .menu__titreIco {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > span {
      font-size: 1.4rem;
      margin-top: 37.5px;
      margin-right: 25px;
    }
  }
  & .icon-menus svg * {
    cursor: pointer;
    fill: transparent;
    stroke-width: 30;
    stroke: black;
    &:hover {
      animation: hov 1.5s ease-in-out 0.5s both;
    }
  }
  & .starters {
    & div {
      @include text-price-position;
    }
    & .em2 {
      top: 17.95rem;
    }
    & .em3 {
      top: 23.25rem;
    }
    /*pour le 4ème plat du menu 'la note enchantée'*/
    & .em4--2 {
      top: 28.75rem;
    }
    & > p {
      @include border-bottom;
    }
  }
  & .dishes {
    & div {
      @include text-price-position;
    }
    & .em1 {
      top: 32.75rem;
    }
    & .em2 {
      top: 38.25rem;
    }
    & .em3 {
      top: 43.65rem;
    }
    & .dishes__plat1 {
      /*conteneur du 1er plat de la Palette du gout*/
      height: inherit;
      height: 80px;
      & h2 {
        width: 79%;
      }
      & .em1 {
        top: 33.85rem;
      }
      /*pour le 1er plat du menu 'la note enchantée'*/
      & .em1--2 {
        top: 38.25rem;
      }
      /*pour le menu 'à la française'*/
      & .em1--3 {
        top: 32.8rem;
      }
    }
    & .em2--1 {
      top: 39rem;
    }
    & .em3--1 {
      top: 44.55rem;
    }
    /*pour le menu 'la note enchantée'*/
    & .em2--2 {
      top: 43.6rem;
    }
    & .em3--2 {
      top: 49rem;
    }
    /*pour le prix des plats du menu 'le délice des sens'*/
    & .em2--4 {
      top: 39.25rem;
    }
    & .em3--4 {
      top: 44.65rem;
    }
    & .dishes--plat1 {
      height: 66.15px;
    }
    & > p {
      @include border-bottom;
    }
    /*texte 'accommpagné de sa ribambelle...' : laPaletteDugout*/
    & .txtLaPall {
      width: 80%;
      margin-top: -25px;
    }
  }
  & .desserts {
    & div {
      @include text-price-position;
    }
    & .em1 {
      top: 53.1rem;
    }
    & .em2 {
      top: 58.45rem;
    }
    & .em3 {
      top: 63.95rem;
    }
    /*pour le menu 'la palette du gout'*/
    & .em1--1 {
      top: 54.05rem;
    }
    & .em2--1 {
      top: 59.45rem;
    }
    & .em3--1 {
      top: 64.75rem;
    }
    /*pour les 3 desserts du menu 'la note enchantée'*/
    & .em1--2 {
      top: 58.45rem;
    }
    & .em2--2 {
      top: 63.85rem;
    }
    & .em3--2 {
      top: 69.33rem;
    }
    /*pour le prix des desserts du menu 'le délice des sens'*/
    & .em1--4 {
      top: 54.25rem;
    }
    & .em2--4 {
      top: 59.55rem;
    }
    & .em3--4 {
      top: 64.85rem;
    }
    & > p {
      @include border-bottom;
    }
  }
}

#menus-headers a {
  color: black;
}

footer {
  margin-top: -3.7rem;
  font-family: "Roboto";
}
