@mixin border-bottom {
  border-bottom: 3.5px solid $color-tertiary;
  width: 12%;
  padding-bottom: 5px;
  margin-left: 5px;
  @media screen and (min-width: 315px) and (max-width: 350px) {
    width: 14%;
  }
  @media screen and (min-width: 400px) and (max-width: 500px) {
    width: 10.3%;
  }
  @media screen and (min-width: 510px) and (max-width: 599px) {
    width: 8.1%;
  }
  @media screen and (min-width: 600px) and (max-width: 768px) {
    width: 5.6%;
  }
  @media screen and (min-width: 800px) and (max-width: 1023px) {
    width: 5.3%;
  }
  @media screen and (min-width: 1024px) and (max-width: 1030px) {
    width: 4.6%;
  }
  @media screen and (min-width: 1035px) {
    width: 3.3%;
  }
}
