@mixin prices {
  display: inline-block;
  position: absolute;
  padding-top: 5px;
  text-align: center;
  right: 2.5rem;
  z-index: 1;
  opacity: 1;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 0.85rem;
  transform: translateX(0px);
  transition: transform 350ms ease-in-out;
  @media screen and (min-width: 610px) and (max-width: 1023px) {
    right: 2.3rem;
  }
  @media screen and (min-width: 1024px) {
    right: 5rem;
  }
}
