.presentation {
  background-color: $color-containers;
  &__map-paris {
    background-color: $color-back-Map;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    & p {
      font-size: 2rem;
    }
  }
}
