.operation {
  display: flex;
  margin-top: 5rem;
  @include title-position;
  @media screen and (max-width: 599px) {
    flex-direction: column;
  }
  &__steps {
    width: 30.5%;
    height: 200px;
    border-radius: 1rem;
    @include shadow;
    margin-top: 5.5rem;
    background-color: $color-containers;
    text-align: center;
    @media screen and (max-width: 599px) {
      width: 97%;
    }
    & p {
      font-size: 1.4rem;
      margin-top: -48px;
    }
    &__icon {
      display: block;
      position: relative;
      font-size: 3.5rem;
      top: 75px;
      opacity: 0.4;
    }
    &__numbers {
      position: relative;
      left: -13px;
      float: left;
      text-align: center;
      color: white;
      background-color: $color-primary;
      padding: 6px 9px 3px 9px;
      border-radius: 50%;
      margin-top: 20px;
    }
    &--icon {
      color: $color-primary;
      opacity: inherit;
    }
  }
  &--step1 {
    margin-left: -14rem;
    margin-right: 4rem;
    @media screen and (max-width: 599px) {
      margin-left: inherit;
    }
  }
  &--step2 {
    margin-right: 4rem;
  }
}
