.operation {
  display: flex;
  margin-top: 5rem;
  &__steps {
    width: 30.5%;
    height: 200px;
    border-radius: 1rem;
    @include shadow;
    margin-top: 5rem;
    background-color: $color-containers;
    text-align: center;
  }
  &--step1 {
    margin-left: -11rem;
    margin-right: 4rem;
  }
  &--step2 {
    margin-right: 4rem;
  }
}
