.restaurants {
  background-color: $color-containers;
  margin-top: 7rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__menus {
    & > .div-icon svg * {
      fill: transparent;
      stroke-width: 30;
      stroke: black;
    }
    & > .div-icon svg *:hover {
      animation: hov 1.5s ease-in-out 0.5s both;
    }
  }
  @media screen and (max-width: 599px) {
    margin-top: 2.6rem;
    padding-top: 5rem;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin-top: 4rem;
  }
  @include link;
  @include title-position;
  & h2 {
    @media screen and (max-width: 599px) {
      margin-left: 1.2rem;
      font-size: 1.4rem;
    }
  }

  &__menus {
    height: 500px;
    border-radius: 1rem;
    width: 95%;
    background-color: white;
    margin: auto;
    margin-bottom: 1.3rem;
    @media screen and (max-width: 599px) {
      height: 230px;
      width: 87%;
    }
    @media screen and (min-width: 610px) and (max-width: 1023px) {
      height: 430px;
    }
    & > img {
      height: 82%;
      width: 100%;
      border-radius: 1rem 1rem 0 0;
      object-fit: cover;
      @media screen and (max-width: 599px) {
        height: 70%;
      }
    }

    &__text {
      position: relative;
      margin-left: 1em;
      @media screen and (max-width: 599px) {
        display: inline-block;
        top: -0.2rem;
        font-size: 0.8rem;
      }
      & p {
        display: block;
        position: relative;
        top: -0.8em;
      }
    }
  }
  &__menus__label1 {
    @include label;
    top: 1385px;
    @media screen and (max-width: 380px) {
      font-size: 1rem;
      width: 22%;
      padding: 6px 5px;
      top: 911px;
      right: 2.5rem;
    }
    @media screen and (min-width: 390px) and (max-width: 599px) {
      font-size: 1rem;
      width: 22%;
      padding: 6px 5px;
      top: 911px;
      right: 3rem;
    }
    @media screen and (min-width: 610px) and (max-width: 1023px) {
      width: 13%;
      top: 1072px;
      right: 2.6rem;
    }
    @media screen and (min-width: 1024px) and (max-width: 1030px) {
      width: 10%;
      top: 1300px;
      right: 3rem;
    }
  }
  &__menus__label2 {
    @include label;
    top: 1905px;
    @media screen and (max-width: 380px) {
      font-size: 1rem;
      width: 22%;
      padding: 6px 5px;
      top: 1161px;
      right: 2.5rem;
    }
    @media screen and (min-width: 390px) and (max-width: 599px) {
      font-size: 1rem;
      width: 22%;
      padding: 6px 5px;
      top: 1161px;
      right: 3rem;
    }
    @media screen and (min-width: 610px) and (max-width: 1023px) {
      width: 13%;
      top: 1520.6px;
      right: 2.6rem;
    }
    @media screen and (min-width: 1024px) and (max-width: 1030px) {
      width: 10%;
      top: 1820px;
      right: 3rem;
    }
  }

  &__menus__heart {
    font-size: 2rem;
    opacity: 0.6;
    float: right;
    margin-top: -4.5pc;
    margin-right: 3pc;
    @media screen and (max-width: 599px) {
      font-size: 1.5rem;
      margin-right: 1.5pc;
      margin-top: 0.8pc;
    }
  }
}

@keyframes hov {
  0% {
    stroke-opacity: 0;
    fill: url(#lgrad);
    fill-opacity: 0.4;
  }
  40% {
    fill: url(#lgrad);
    fill-opacity: 0.65;
  }
  60% {
    stroke-opacity: 0;
    fill-opacity: 0.75;
  }
  80% {
    stroke-opacity: 0;
    fill-opacity: 0.85;
  }
  100% {
    stroke-opacity: 0;
    fill: url(#lgrad);
    fill-opacity: 1;
  }
}
