.restaurants {
  background-color: $color-containers;
  margin-top: 7rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__menus {
    & > .div-icon svg * {
      fill: transparent;
      stroke-width: 30;
      stroke: black;
    }
    & > .div-icon svg *:hover {
      fill: url(#lgrad);
      stroke-opacity: 0;
    }
  }
  @media screen and (max-width: 599px) {
    margin-top: 2.6rem;
    padding-top: 5rem;
  }
  @include link;
  @include title-position;
  & h2 {
    @media screen and (max-width: 599px) {
      margin-left: 1.2rem;
      font-size: 1.4rem;
    }
  }

  &__menus {
    height: 500px;
    border-radius: 1rem;
    width: 95%;
    background-color: white;
    margin: auto;
    margin-bottom: 1.3rem;
    @media screen and (max-width: 599px) {
      height: 230px;
      width: 87%;
    }
    @media screen and (min-width: 610px) and (max-width: 1023px) {
      height: 430px;
    }
    & > img {
      height: 82%;
      width: 100%;
      border-radius: 1rem 1rem 0 0;
      object-fit: cover;
      @media screen and (max-width: 599px) {
        height: 70%;
      }
    }

    &__text {
      position: relative;
      margin-left: 1em;
      @media screen and (max-width: 599px) {
        display: inline-block;
        top: -0.2rem;
        font-size: 0.8rem;
      }
      & p {
        display: block;
        position: relative;
        top: -0.8em;
      }
    }
  }
  &__menus__label1 {
    @include label;
    top: 1008px;
    @media screen and (max-width: 380px) {
      font-size: 1rem;
      width: 22%;
      padding: 6px 5px;
      top: 904.2px;
      right: 2.8rem;
    }
    @media screen and (min-width: 390px) and (max-width: 599px) {
      font-size: 1rem;
      width: 22%;
      padding: 6px 5px;
      top: 880.4px;
      right: 3rem;
    }
    @media screen and (min-width: 699px) and (max-width: 1023px) {
      width: 17%;
      top: 971.2px;
      right: 2.8rem;
    }
  }
  &__menus__label2 {
    @include label;
    top: 1528px;
    @media screen and (max-width: 380px) {
      font-size: 1rem;
      width: 22%;
      padding: 6px 5px;
      top: 1155.4px;
      right: 2.8rem;
    }
    @media screen and (min-width: 390px) and (max-width: 599px) {
      font-size: 1rem;
      width: 22%;
      padding: 6px 5px;
      top: 1130.4px;
      right: 3rem;
    }
    @media screen and (min-width: 610px) and (max-width: 1023px) {
      width: 17%;
      top: 89rem;
      right: 2.8rem;
    }
  }

  &__menus__heart {
    font-size: 2rem;
    opacity: 0.6;
    float: right;
    margin-top: -4.5pc;
    margin-right: 3pc;
    /*& path {
      fill: transparent;
      stroke-width: 30;
      stroke: black;
      transition: all 1.5s ease-in-out;

      &:hover {
        background: linear-gradient(
          to bottom,
          $color-secondary,
          $color-primary
        );
        transform-origin: bottom;
        stroke: $color-primary;
      }*/

    @media screen and (max-width: 599px) {
      font-size: 1.5rem;
      margin-right: 1.5pc;
      margin-top: 0.8pc;
    }
  }
}

.parent-div svg *:hover {
  cursor: pointer;
  fill: url(#lgrad);
  transition: 1.5s ease-in-out 1s;
}

/* Only to center icon */

#parent {
  margin-top: 15%;
}
