.restaurants {
  background-color: $color-containers;
  margin-top: 7rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media screen and (max-width: 599px) {
    margin-top: 2.6rem;
    padding-top: 5rem;
  }
  @include link;
  @include title-position;
  & h2 {
    @media screen and (max-width: 599px) {
      margin-left: 1.2rem;
      font-size: 1.4rem;
    }
  }

  &__menus {
    height: 500px;
    border-radius: 1rem;
    width: 95%;
    background-color: white;
    margin: auto;
    margin-bottom: 1.3rem;
    @media screen and (max-width: 599px) {
      height: 230px;
      width: 87%;
    }
    & > img {
      height: 82%;
      width: 100%;
      border-radius: 1rem 1rem 0 0;
      object-fit: cover;
      @media screen and (max-width: 599px) {
        height: 70%;
      }
    }

    &__text {
      position: relative;
      margin-left: 1em;
      @media screen and (max-width: 599px) {
        display: inline-block;
        top: -0.2rem;
        font-size: 0.8rem;
      }
      & p {
        display: block;
        position: relative;
        top: -0.8em;
      }
    }
  }
  &__menus__label1 {
    @include label;
    top: 63rem;
    /* @media screen and (max-width: 599px) {
      font-size: 1rem;
      width: 27%;
      padding: 6px 8px;
      right: -10.2rem;
      top: -9.3rem;
    }*/
  }
  &__menus__label2 {
    @include label;
    top: 95.5rem;
  }

  &__menus__heart {
    font-size: 2rem;
    opacity: 0.6;
    float: right;
    margin-top: 0.8pc;
    margin-right: 3pc;
    @media screen and (max-width: 599px) {
      font-size: 1.5rem;
      margin-right: 1.5pc;
    }
    &:hover {
      background: linear-gradient(to top, $color-secondary, $color-primary);
    }
  }
}
